/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --memo-list-sidebar-width: 250px;
  --main-content-padding-to-sidebar: 25px;
  font: message-box;
  appearance: none;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
}

body, html {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  flex-direction: unset !important;
  box-sizing: unset !important;
  padding: 0 !important;
  align-items: unset !important;
  justify-content: unset !important;
  min-height: 100% !important;
}

#memo-title-input {
   display: inherit;
   width: 18em;
   margin-bottom: 25px;
   font-size: 20px;
}

#memo-contents{
   padding-left: var(--main-content-padding-to-sidebar);
   max-width: 55em;
   width: -moz-available;
}

#memo-contents-box {
   overflow : scroll;
   width: inherit;
}

.memo-list-item {
   margin: 0px;
   border-bottom: solid 1px gray;
   padding: 15px;
   text-align: left;
}

#memo-lists-sidebar {
   width: 20vw;
   height: 100%;
   border-right: 1px solid gray;
   overflow: scroll;
   min-width: 10em;
   max-width: 15em;
}

#memo-input {
   resize: none;
   max-width: 50em;
   max-height: 40em;
   width: 60vw;
   height: 40vw;
}

#memo-add {
   margin: auto;
   margin-top: auto;
   margin-bottom: auto;
   margin-top: 10px;
   margin-bottom: 10px;
}

#button-box {
   border-bottom: solid 1px gray;
}

#memo-delete {
   background-image: url("chrome://global/skin/icons/delete.svg");
   padding-inline-start: 30px;
   background-repeat: no-repeat;
   background-position: 8px;
   -moz-context-properties: fill;
   fill: currentColor;
   min-width: auto;
   flex: 0 0 auto;
   height: 2.5em;
   display: block;
   margin-left: auto;
}

#titleAndDelete {
   display: flex;
}

#beta {
   margin: auto 10px 10px;
   font-style: italic;
   color: gray;
}

#title-box {
   display: flex;
   border-bottom: solid 0.1px gray;
   margin-bottom: 15px;
}

#memo-form {
   margin-bottom: 20px;
   max-width: 55em;
}

#html-output {
   display: block;
   border: solid 1px gray;
   padding: 25px;
   box-shadow: 0 1px 4px var(--grey-90-a10);
   background: var(--in-content-button-background);
   border: 1px solid transparent;
   border-radius: 4px;
   box-shadow: var(--card-shadow);
   margin: 0 0 8px;
   margin-bottom: 8px;
   margin-bottom: 8px;
   padding: calc(var(--card-padding) - 1px);
   transition: box-shadow 150ms;
   margin-bottom: 10em;
}

button {
   padding-inline-start: 30px;
   background-repeat: no-repeat;
   background-position: 8px;
   -moz-context-properties: fill;
   fill: currentColor;
   min-width: auto;
   flex: 0 0 auto;
   height: 2.5em;
   display: block;
   margin-right: 20px;
}

#memo-delete {
   margin-left: auto;
}

#offline-label {
   font-weight: 600;
   line-height: 1.4em;
   margin: auto 1em auto auto;
   opacity: 0.7;
   font-size: 20px;
}